# Production Caddyfile

{$DOMAIN_NAME:domain.invalid} {
  encode gzip
	reverse_proxy RAOweb:3000
}

www.{$DOMAIN_NAME:domain.invalid} {
    redir https://{$DOMAIN_NAME}{uri} permanent
}

analytics.{$DOMAIN_NAME:domain.invalid} {
  encode gzip
  reverse_proxy RAOumami:3001
}

ok.{$DOMAIN_NAME:domain.invalid} {
  respond /health-check 200
}
