---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <main class="flex flex-col items-center w-screen p-12 ">
    <section class="flex flex-col sm:w-[90%] md:w-[70%] lg:w-[60%] xl:w-[40%] font-jost">
      <h1 class="text-5xl font-bold font-jost">about</h1>
      <p class="text-lg mt-6">
        Although they can be useful sometimes, I find AI Overviews quite annoying mainly because alot of the time they end up giving me unrelated or innaccurate information. I dislike the the fact that there's no simple way to turn them off when I want to, so I made this extension for that purpose. I made it for myself, but I knew other people could benefit from it so I'm making it free and open source. It will stay that way forever.
      </p>
      <p>Insert a gif here</p>
      <section class="text-lg">
        <h1 class="text-3xl mt-12 font-bold font-jost">contact info:</h1>
        <p>
          You contact me by email at
          <a class="hover:underline transition-all ease-in-out" href="mailto:kakajurothings@gmail.com">kakajurothings@gmail.com</a>
        </p>
        <p>My discord: @kakajuro</p>
      </section>
      <section class="text-lg">
        <h1 class="text-3xl mt-12 font-bold font-jost">credits:</h1>
        <p>
          Created + maintained by
          <a href="https://github.com/kakajuro" target="_blank" class="hover:underline transition-all ease-in-out">@kakajuro</a>
        </p>
        <p>Logo: <a href="https://github.com/kakajuro" target="_blank" class="hover:underline transition-all ease-in-out">@kakajuro</a></p>
        <p>All icons provided by <a class="hover:underline transition-all ease-in-out" href="https://react-icons.github.io/react-icons/" target="_blank">react-icons</a></p>
        <p>And of course a HUGE thank you to all the sponsors and supporters!</p>
      </section>
      <p class="mt-12 text-lg font-bold">
        click here to read the
        <a href="/privacy" class="hover:underline hover:cursor-pointer transition-all ease-in-out">privacy note</a>
      </p>
      <p class="mt-12">
        if you like this you might like
        <a class="hover:underline transition-all ease-in-out" href="https://tidytube.app" target="_blank">my other project</a>
      </p>
    </section>
  </main>
</BaseLayout>

