---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Donate">
  <main class="flex flex-col items-center w-screen p-12">
    <div class="flex flex-col sm:w-[90%] md:w-[70%] lg:w-[60%] xl:w-[40%]">
      <h1 class="text-5xl font-bold font-jost">donate</h1>
      <p class="text-xl mt-6">I'm David (kakajuro), a university undergrad and I've worked on the <a href="/" class="hover:cursor-pointer hover:underline">Remove AI Overview</a> and <a href="https://tidytube.app" target="_blank" class="hover:cursor-pointer hover:underline">tidytube</a> browser extensions in my free time. Your support would help me pay for the server/hosting costs as well as help me pay for university. Donations are of course absolutely not required but are very much appreciated!</p>
      <p class="text-xl pt-4">Consider supporting with one of the options provided below. I am happy to provide more payment methods in future if the demand for it is high enough.</p>
      <div class="flex flex-col text-xl pt-6">
        <h2 class="font-semibold text-2xl mb-2">links:</h2>
        <ul class="list-disc ml-[18px]">
          <li>
            <a class="hover:cursor-pointer hover:underline" href="https://github.com/sponsors/kakajuro" target="_blank">
            Github
            </a>
          </li>
          <li>
            <a class="hover:cursor-pointer hover:underline" href="https://ko-fi.com/kakajuro" target="_blank">
            Kofi
            </a>
          </li>
          <li>
            <a class="hover:cursor-pointer hover:underline" href="https://www.buymeacoffee.com/kakajuro" target="_blank">
            buymeacoffee
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</BaseLayout>

