---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';

import { Navbar } from '@/components/Navbar';
import {DownloadIcons } from '@/components/DownloadIcons';
import { TextComponent } from '@/components/textComponent';
---

<BaseLayout title="Remove AI Overview">
  <Navbar />
  <Image
    src="/removeaioverviewlogo.png"
    alt="Remove AI Overview logo"
    width="200"
    height="200"
  />
  <h1 class="text-red-500 font-jost">Remove AI Overview</h1>
  <TextComponent client:load />
  <h1>Download</h1>
  <DownloadIcons />
</BaseLayout>

