---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';

import { DownloadSection } from "@/components/DownloadSection";
import { HeroText } from '@/components/HeroText';
import { HeaderText } from '@/components/HeaderText';

import { StarsBackground } from '@/components/aceternity/stars-background';
---

<BaseLayout title="Remove AI Overview">
  <StarsBackground client:only />
  <main class="w-screen flex flex-col items-center justify-center pt-32">
    <Image
      src="/removeaioverviewlogo.png"
      alt="Remove AI Overview logo"
      width="200"
      height="200"
    />
    <HeaderText client:load />
    <HeroText client:load />
    <DownloadSection client:load />
  </main>
</BaseLayout>

