---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';

import { DownloadSection } from "@/components/DownloadSection";
import { HeroText } from '@/components/HeroText';
import { HeaderText } from '@/components/HeaderText';

import Particles from '@/components/magicui/particles';
---

<BaseLayout title="Remove AI Overview">
  <main class="w-screen flex flex-col items-center justify-center pt-36">
    <Image
      src="/removeaioverviewlogo.png"
      alt="Remove AI Overview logo"
      width="200"
      height="200"
    />
    <HeaderText client:load />
    <HeroText client:load />
    <DownloadSection client:load />
  </main>
</BaseLayout>

<Particles className="absolute inset-0 z-[-5]" quantity={100} refresh client:load />
